nav {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 30px;
  .logo img {
    width: 212px;
    height: 25px;
  }
}
header {
  box-shadow: 0px 8px 8px 0px rgba(134, 134, 134, 0.2);
}
.navigation {
  height: 100%;
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding-left: 24px;
    }
    a {
      text-decoration: none;
      color: black;
      position: relative;
      font-size: 13px;
      letter-spacing: 2px;
      padding-left: 30px;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
    li > a:hover + .home-drpdown {
      visibility: visible;
      transition: 1s;
    }
  }
}
.home-drpdown {
  padding: 29px 0;
  color: #000000;
  visibility: hidden;
  background-color: white;
  z-index: 1;
  width: 200px;
  position: absolute;
  margin-top: 40px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
  a {
    display: block;
    height: auto;
    width: 210px;
  }
}
